<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 class="mt-2">Editar orden</h1>
    <form [formGroup]="updateOrderForm" (ngSubmit)="updateOrder(updateOrderForm.value)">
      <p>Código</p>
      <input
        type="text" class="fadeIn second"
        formControlName="codigo" placeholder="ORD1234"
      >
      <div class=" danger-alert"
           *ngIf=" updateOrderForm.get('codigo')!.hasError('required') &&
             updateOrderForm.get('codigo')!.touched"
      > Código requerido </div>

      <p>Precio total</p>
      <input
        type="number" class="fadeIn second"
        formControlName="precio" placeholder="100.220.000"
      >
      <div class=" danger-alert"
           *ngIf=" updateOrderForm.get('precio')!.hasError('required') &&
             updateOrderForm.get('precio')!.touched"
      > Precio requerido </div>

      <p>Fecha de compra</p>
      <input
        type="date" class="fadeIn second" min="{{date}}"
        formControlName="fecha_compra" placeholder="fecha de compra"
      >
      <div class=" danger-alert"
           *ngIf=" updateOrderForm.get('fecha_compra')!.hasError('required') &&
             updateOrderForm.get('fecha_compra')!.touched"
      > Fecha de compra requerido </div>

      <input
        type="submit" class="fadeIn fourth mt-5"
        value="Editar" [disabled]="updateOrderForm.invalid"
      >
    </form>
  </div>
</div>
