<mat-toolbar color="primary">
  <span>Aveonline</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink="/inicio/usuarios">Usuarios</button>
  <button mat-button routerLink="/inicio/roles">Roles</button>
  <button mat-button routerLink="/inicio/clientes">Clientes</button>
  <button mat-button routerLink="/inicio/productos">Productos</button>
  <button mat-button>Ordenes</button>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>
