<div class="wrapper fadeInDown">
  <div id="formContent">
    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <img
        src="assets/logo.png"
        class="mt-4 mb-2 aveonline"
        alt="logo-aveonline"
      >
      <input type="text" id="email" class="fadeIn second mt-3" formControlName="email" placeholder="email">
      <input type="password" id="password" class="fadeIn third" formControlName="password" placeholder="clave">
      <input type="submit" class="fadeIn fourth mt-3" value="Iniciar sesion" [disabled]="loginForm.invalid">
    </form>
  </div>
</div>
