<div class="wrapper fadeInDown">
  <div id="formContent">

    <form [formGroup]="loginForm" (ngSubmit)="onLogin(loginForm.value)">
      <img
        src="assets/logo.png"
        class="mt-4 mb-2 aveonline"
      >
      <input type="text" id="login" class="fadeIn second mt-3" formControlName="nombre" placeholder="nombre">
      <input type="password" id="password" class="fadeIn third" formControlName="clave" placeholder="clave">
      <input type="submit" class="fadeIn fourth mt-3" value="Iniciar sesion" [disabled]="!loginForm.valid">
    </form>

    <div class="alert alert-danger" *ngIf="errorStatus">
      <p>El email y/o contraseña es incorrecto</p>
    </div>

  </div>
</div>
