<div class="col-8">
  <table
    class="table"
    aria-describedby="tableRoles"
    id="tableRoles"
  >
    <thead id="theadTableRoles">
    <tr>
      <th class="h5" id="theadRoleName">Nombre</th>
      <th class="h5" id="theadRoleCategory">Role</th>
    </tr>
    </thead>
    <tbody>
    <tr class="trbody" *ngFor="let client of clients">
      <td>
        <dd class="id">{{client.nombre}}</dd>
      </td>
      <td>
        <dd class="brand">{{client.rol}}</dd>
      </td>
    </tr>
    </tbody>
  </table>
</div>


