<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 class="mt-2">Crear orden</h1>
    <form [formGroup]="createOrderForm" (ngSubmit)="createOrder(createOrderForm.value)">
      <p>Código</p>
      <input
        type="text" class="fadeIn second"
        formControlName="codigo" placeholder="ORD1234"
      >
      <div class=" danger-alert"
           *ngIf=" createOrderForm.get('codigo')!.hasError('required') &&
             createOrderForm.get('codigo')!.touched"
      > Código requerido </div>

      <p>Precio total</p>
      <input
        type="number" class="fadeIn second"
        formControlName="precio" placeholder="100.220.000"
      >
      <div class=" danger-alert"
           *ngIf=" createOrderForm.get('precio')!.hasError('required') &&
             createOrderForm.get('precio')!.touched"
      > Precio requerido </div>

      <p>Fecha de compra</p>
      <input
        type="date" class="fadeIn second" min="{{date}}"
        formControlName="fecha_compra" placeholder="fecha de compra"
      >
      <div class=" danger-alert"
           *ngIf=" createOrderForm.get('fecha_compra')!.hasError('required') &&
             createOrderForm.get('fecha_compra')!.touched"
      > Fecha de compra requerido </div>

      <input
        type="submit" class="fadeIn fourth mt-4"
        value="Crear" [disabled]="createOrderForm.invalid"
      >
    </form>
  </div>
</div>
