<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 class="mt-2">Editar producto</h1>
    <form [formGroup]="updateProductForm" (ngSubmit)="updateProduct(updateProductForm.value)">
      <input
        type="text" class="fadeIn second mt-3"
        formControlName="codigo" placeholder="código"
      >
      <div class=" danger-alert"
           *ngIf=" updateProductForm.get('codigo')!.hasError('required') &&
             updateProductForm.get('codigo')!.touched"
      > Código requerido </div>

      <input
        type="text" class="fadeIn second mt-3"
        formControlName="nombre" placeholder="nombre"
      >
      <div class=" danger-alert"
           *ngIf=" updateProductForm.get('nombre')!.hasError('required') &&
             updateProductForm.get('nombre')!.touched"
      > Nombre requerido </div>

      <input
        type="text" class="fadeIn third"
        formControlName="descripcion" placeholder="descripcion"
      >
      <div class=" danger-alert"
           *ngIf=" updateProductForm.get('descripcion')!.hasError('required') &&
             updateProductForm.get('descripcion')!.touched"
      > Descripción requerida </div>

      <input
        type="text" class="fadeIn third"
        formControlName="categoria" placeholder="categoria"
      >
      <div class=" danger-alert"
           *ngIf=" updateProductForm.get('categoria')!.hasError('required') &&
             updateProductForm.get('categoria')!.touched"
      > Categoria requerida </div>

      <input
        type="number" class="fadeIn third"
        formControlName="cantidad" placeholder="cantidad"
      >
      <div class=" danger-alert"
           *ngIf=" updateProductForm.get('cantidad')!.hasError('required') &&
             updateProductForm.get('cantidad')!.touched"
      > Cantidad requerida </div>

      <input
        type="number" class="fadeIn third"
        formControlName="precio" placeholder="precio"
      >
      <div class=" danger-alert"
           *ngIf=" updateProductForm.get('precio')!.hasError('required') &&
             updateProductForm.get('precio')!.touched"
      > Precio requerida </div>

      <input
        type="submit" class="fadeIn fourth mt-3"
        value="Editar" [disabled]="updateProductForm.invalid"
      >
    </form>
  </div>
</div>
