<div class="wrapper fadeInDown">
  <div id="formContent">
    <h1 class="mt-2">Editar usuario</h1>
    <form [formGroup]="updateUserForm" (ngSubmit)="updateProduct(updateUserForm.value)">
      <p>Nombre</p>
      <input
        type="text" class="fadeIn second"
        formControlName="nombre" placeholder="Jhon Doe"
      >
      <div class=" danger-alert"
           *ngIf=" updateUserForm.get('nombre')!.hasError('required') &&
             updateUserForm.get('nombre')!.touched"
      > Nombre requerido </div>

      <p>Email</p>
      <input
        type="text" class="fadeIn second"
        formControlName="email" placeholder="jhondoe@aveonline.co"
      >
      <div class=" danger-alert"
           *ngIf=" updateUserForm.get('email')!.hasError('required') &&
             updateUserForm.get('email')!.touched"
      > Email requerido </div>

      <p>Clave</p>
      <input
        type="text" class="fadeIn second"
        formControlName="password" placeholder="miclavesecreta"
      >
      <div class=" danger-alert"
           *ngIf=" updateUserForm.get('password')!.hasError('required') &&
             updateUserForm.get('password')!.touched"
      > Clave requerida </div>

      <p>Rol</p>
      <select
        [(ngModel)]="roleSelect"
        [ngModelOptions]="{standalone: true}"
        (change)="changeRole()"
      >
        <option [value]="role.id" *ngFor="let role of roles">{{role.nombre}}</option>
      </select>
      <div class=" danger-alert"
           *ngIf=" updateUserForm.get('rol_id')!.hasError('required') &&
             updateUserForm.get('rol_id')!.touched"
      > Rol requerido </div>

      <input
        type="submit" class="fadeIn fourth mt-4"
        value="Editar" [disabled]="updateUserForm.invalid"
      >
    </form>
  </div>
</div>
